.container {
  margin: auto;
  max-width: 600px;
  font-family: sans-serif;
  background-color: #fdfcfa;
}

.heading {
  color: rebeccapurple;
}

.nav-links {
  justify-content: right;
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  font-family: rale;
  font-size:30px;
  padding-left: 2rem;
  text-decoration: none;
}

*{
  font-family: "Raleway";
}

body{
  background-color: #fdfcfa;
  line-height: 1.8rem;
}